.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d7ed;

  &__main {
    background-color: #f2f2f2;
    width: 600px;
    padding: 50px 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
      padding: 0 5px 5px;
      color: #000050;
      font-weight: 900;
      font-size: 1.8em;
      border-bottom: 2px solid #2d38f0;
      margin-bottom: 70px;
    }

    & .login-input-control,
    & .login-button {
      width: 100%;
      height: 60px;
      border-radius: 12px;
    }

    & .login-input-control {
      background-color: #e5ebf5;
      border: solid #e5ebf5 2px;
      color: #19122b;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
      padding: 0 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

      &:focus {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }

      &:focus-visible {
        outline: none;
      }
    }

    & .login-button {
      background-color: #2d38f0;
      border: none;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      transition-duration: 200ms;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        box-shadow: 0 20px 20px rgba(49, 59, 241, 0.5);
      }

      &:disabled {
        opacity: .5;
        box-shadow: unset !important;
        cursor: not-allowed;
      }
    }
  }
}
